.dark{
    background: rgb(42, 42, 42);
    color: #fff !important;
}
.dark .collection{
    border: 1px solid transparent;
}
.dark .collection-item{
    background: rgb(33, 33, 33) !important;
    border-bottom: 1px solid transparent !important;
}
.dark .card{
    background: rgb(33, 33, 33) !important;
       
}
.dark .active{
    background-color: #157c72 !important;
}
video{
    max-width: 100%;
}


footer{
    position: fixed;
    padding: 0;
    left: 0;
    margin: 0;
    bottom: 2%;
    right: 0;
    width: 100%;
}

footer p {
    margin-left: 10px;
}

.row{
    margin-bottom: 0px !important;
}
